/* --------------------
	Top Bar
-------------------- */
#top-bar {
	height: 58px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

/* Logo */
#top-bar h6{
	/*background:url("../images/logos/beepoy-94x30.png") no-repeat scroll 0 0 transparent;*/
	background:url("../Images/logos/beepoy-brand.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 60px;
    margin: 2px 14px 0 20px;
    padding: 0;
    position: absolute;
    width: 150px;
}
	
/* Campos de formulário */
#top-bar ul.form {
    float: left;
    left: 200px;
    position: absolute;
    top: 20px;
	}
	
#top-bar ul.form li {
	float:left;
	margin-right:5px;
	position:relative;
	}
		
	#top-bar ul.form li.small {
		margin-top:2px;
		}
	
	#top-bar ul.form label {
		color:#CECECE;
		cursor:text;
		height:13px;
		left:0;
		padding:6px;
		position:absolute;
		width:134px;
		}
			
		#top-bar ul.form label em{
			color:#acacac;
			}
			
	#top-bar ul.form input[type="text"] {
		background:#666;
		border:2px solid #000;
		border-left:0;
		border-right:0;
		color:#fff;
		padding:4px 2px;
		}
		
	#top-bar ul.form .pesquisar {
		background:url("../images/icones/pesquisa.png") no-repeat scroll left top transparent;
		display:block;
		height:24px;
		margin-top:0px;
		width:28px;
		}
		
		#top-bar ul.form .pesquisar:hover {
			background-position:left bottom;
			}

/* Resposta da pesquisa */
li#search-bar {
	display:none;
	padding:0 0 0 28px;
	position:absolute !important;
	top:47px;
	width:560px;
	}

	li#search-bar *{
		z-index:12;
		}

	li#search-bar .tags {
		float:left;
		position:relative;
		}

	li#search-bar div.ghost-back {
		background:none repeat scroll 0 0 #787878;
		height:42px;
		left:0;
		opacity:0.9;
		position:absolute;
		top:0;
		width:590px;
		z-index:10;
		}
	
	/* Tags */
	li#search-bar .tags {
		margin-top:8px;
		margin-left:10px;
		}
	
	li#search-bar .tags a {
		background-color:#f0f0f0;
		color:#565656;
		display:block;
		float:left;
		font-size:10px;
		margin-right:8px;
		padding:1px 5px 1px 18px;
		}
		
		/* images das tags */
		li#search-bar .tags a.oficina {
			background:#f0f0f0 url(../images/marcadores/oficina.gif) no-repeat 1px center;
			}
			
		li#search-bar .tags a.carro {
			background:#f0f0f0 url(../images/marcadores/carro.gif) no-repeat 1px center;
			padding-left:24px;
			}
			
		li#search-bar .tags a.oferta {
			background:#f0f0f0 url(../images/marcadores/oferta.gif) no-repeat 1px center;
			}
		
	li#search-bar p {
		color:#fff;
		float:left;
		font-size:10px;
		position:relative;
		}

		li#search-bar p strong {
			font-size:11px;
			}
		
	
	/* Add Tag */
	#search-bar .add-tag {
		background:transparent url("../images/icones/add.gif") no-repeat left center;
		color:#FED100;
		text-decoration:none;
		padding-left:15px;
		display:block;
		right:10px;
		padding:12px 5px 12px 18px;
		position:absolute;
		top:0;
		}

	li#search-bar a.close {
		background:none repeat scroll 0 0 #787878;
		color:#fff;
		display:block;
		font-size:13px;
		left:0;
		padding:10px 6px;
		position:absolute;
		text-decoration:none;
		top:0;
		}

/* --------------------
	Menu
--------------------- */
#menu {
    float: right;
    margin-right: 1%;
}

	#menu li {
		color: #acacac;
		float:left;
		margin-right:2px;
		position:relative;
		z-index: 3;
		}
	
		#menu li a {
			color:#acacac;
			display:block;
			font-size:13px;
			padding: 20px 13px;
			text-decoration:none;
			}
		
			#menu li a:hover {
				background: transparent url("../Images/backgrounds/top-bar-hover.png") repeat-x left center;
				color:#FED100;
				}

		/* Usuário */
		#menu li.user {
			width:180px;
			}
		
		#menu li.user a {
			font-size:11px;
			height:48px;
			padding:5px;
			width:auto;
			}
		
			#menu li.user a span, #menu li.user a img {
				float:left;
				}

			#menu li.user a span {
				background:url(../images/icones/arrow-down.png) no-repeat right 2px;
				margin-left:5px;
				margin-top:15px;
				padding:0 19px 0 0;
				}
		
			/* Submenu */
			#menu li.user ul{
				background:#222;
				display:none;
				position:absolute;
				left:0;
				top:48px;
				width:180px;
				}
			
				#menu li.user ul li{
					clear:both;
					}
				
					#menu li.user ul li a{
						display:block;
						height:auto;
						padding:10px;
						width:160px;
						}
						
						#menu li.user ul li a:hover{
							background:#191919;
							color:#FED100;
							}
							
ul {
	list-style:none;
	margin:0;
	padding:0;
	}