<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Beepoy</title>

    <link rel="shortcut icon" href="@Url.Content("~/Content/Images/icons/favicon.ico")" />

    <!-- Scripts -->
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
 
    <!-- Estilos -->
    <link href="@Url.Content("~/Content/base.css")" rel="stylesheet" type="text/css" />
</head>

<body>

 @{
    Html.RenderPartial("../Users/_Login");
 }

	<div id="home-wrapper">
	
		<div id="header-bg-home">

		
		</div>
			
		<div id="wrapper">
			
			<div id="brand">
				
				<img src="Content/Images/beepoy-home.png" alt="Beepoy Brand"/>
			
			</div>
			
			<div id="home-text">
				
				<span class="home-title">Meet new people</span>

				Find out who else are in the mall or in your neighborhood. Say hi, have conversations and plan a meetup!
				
				<span class="home-title">Find interesting places</span>

				
				Share photos and reviews about restaurant, shops and other cool spots Koprollers go to.
				
				<span class="home-title">Connect with Businesses</span>
				
				Find awesome deals nearby, follow and talk to local businesses

			
			</div>
			
			<div id="home-form">
				
				<strong><a href="#">Novo no Beepoy?</a></strong>
				
				<span class="register-home">Cadastre-se hoje mesmo!</span>
				
				<input type="text" class="input-text-home" value="Nome Completo " />

				
				<input type="text" class="input-text-home" value="E-mail" />
				
				<input type="text" class="input-text-home" value="Senha" />
								
				<input type="submit" class="home-button" value=""/>
			
			</div>
			
			<div id="beepoy">
				
				<img src="Content/Images/home-beepoy.png" alt="Beepoy Print"/>
			
			</div>
	
		</div>
	
	</div>

      
    <div id="footer">
    	
            	<div id="footer-in">
                
                	<div id="footer-dots">
                    
                    </div>
                    
                    <div id="footer-brand">
                    
                    </div>
                    
                    <div id="footer-info">
                    
                    	<p>Beepoy</p>

                        <p>Av. Paulista, 1049</p>
                        <p>+55 11 5555-5555</p>
                    
                    </div>
                    
                    <div id="footer-menu">
                    
                    	<a href="#"> Home </a>
                        <a href="#"> Perfil </a>

                        <a href="#"> Pessoas </a>
                        <a href="#"> Nome do usuário </a>
                    
                    </div>
                    

                
                </div>
            
        </div>
</body>     


</html>
