<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <clear/>
    
    <!-- Twitter -->
    <add key="ConsumerKey" value="xDGISMTarPrTJj7AzYDSqA"/>
    <add key="ConsumerSecret" value="p1F9oVPP2RNYGMN0siZVgd4MaJ9KmfOQZeeommsv6Ng"/>
    <add key="AccessToken" value="19319611-efAMaU2jotSZjre5QJaI9xQMVU342u9ntp11hb0WO"/>
    <add key="AccessTokenSecret_" value="xbdw0T54NrdyO9vtibvLTmmL7SEIYAHqsRGPdTRZMxo"/>

    <!-- Foursquare -->
    <add key="CALLBACK URL" value="http://beepoy.com/Authenticate"/>
    <add key="CLIENT ID" value="U2IERELDLVLFHOMX5TKUDVKCPAAVW3HVCFUA05YRSJXY1BU1"/>
    <add key="CLIENT SECRET" value="HXZUE45VOWC30PFLBZTLPWCGHO114VKO0GUF3JBYRSELE5HA"/>
    <add key="URL" value="https://api.foursquare.com/v2/venues/search?limit=50&amp;ll=37.77561648044908,-122.43593215942383&amp;query=&amp;client_id=U2IERELDLVLFHOMX5TKUDVKCPAAVW3HVCFUA05YRSJXY1BU1&amp;client_secret=HXZUE45VOWC30PFLBZTLPWCGHO114VKO0GUF3JBYRSELE5HA" />
  
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
