@model Beepoy.Web.Models.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Html.RenderPartial("_ScriptBeeps");
}
<style type="text/css">

	.container{
		position: relative;
		height:500px;
		width:100%;
		margin-top: 30px;
	}
	.area-esquerda{
		position:absolute;
		width:315px;
		height:500px;
		margin-left:33px;
	}	
		.beep-box{
			width:100%;
			height:112px;
		}
		.beep-feed{
			width:100%;
			height: 388px;
		}
	.area-direita{
		position: absolute;
		height:500px;
		width: 539px;
		margin-left:357px;
	}
		.info-box{
			height:112px;
			width: 100%; 
		}
		.beep-map{
			width:100%;
			height: 260px;
		}
		
		.time-line{
			height:117px;
			width:100%;
		}
		

</style>
<div class="container">
    <div class="area-esquerda">
        <div class="beep-box">
        </div>
        <div class="beep-feed">
            <table class="feeds">
            @Html.Action("FollowingFeeds", "Users")

            </table>
        </div>
    </div>
    <div class="area-direita">
        <div class="info-box">
        </div>
        <div class="beep-map">
        </div>
        <div class="time-line">
        </div>
    </div>
</div>

