@model Beepoy.Web.Library.TimeLine

 <script type="text/javascript" charset="utf-8">
     $(document).ready(function () {
         var clientX = 0;
         $('#timeline_holder')
				.bind('dragstart', function (event) {
				    clientX = event.clientX;
				})
				.bind('drag', function (event) {
				    var left = event.clientX - clientX;
				    clientX = event.clientX;
				    $("#timeline_holder .move").each(function () {
				        $(this).css({
				            left: $(this).position().left + left
				        });
				    });
				});

				$("#timeline_cnt .plurk").hover(
                  function () {
                      $(this).addClass("display");
                      $(this).addClass("link_extend");
                  },
                  function () {
                      $(this).removeClass("display");
                      $(this).removeClass("link_extend");
                  }
                );
     });
</script>

<div class="timeline-wrap">
					
    <div id="timeline_holder">
        <div id="timeline_cnt">

    <div class="move block_cnt day_start" style="left: -312px; ">
	    <div class="div_one_line"></div>
	    <div>
	    <div class="div_inner"></div>
	    <div class="div_bottom"></div>
	    </div>
    </div>

    <div class="move block_cnt hh_mm" style="left: -242px; ">
        <div class="div_one_line"></div>
        <div>
            <div class="div_inner"></div>
            <div class="div_bottom"></div>
        </div>
        <div id="p776443000" class="plurk" style="visibility: visible; left: 75.555px; top: 3px;">
        <table>
            <tbody>
            <tr>
            <td class="td_img">
                <div class="p_img">
                   <img src="http://avatars.plurk.com/5195312-small4.gif">
                </div>
            </td>
            <td>
                <div id="plurk_cnt_776443000" class="plurk_cnt">
                    <table>
                        <tbody>
                            <tr>
                             <td class="td_qual">
                                 <span>
                                 <a class="name" href="/rafaelzrt">rafael</a>
                                 <span class="text-mark">compartilha</span>
                                 </span>
                            </td>
                            <td class="td_cnt">
                                <div class="text_holder truncated_media_height">
                                <a class="ex_link pictureservices" rel="nofollow" href="http://www.braian.com.br/wp-content/uploads/2011/03/massagem.jpg">
                                <img class="big_image" onload="" style="max-height: 40px; max-width: 48px;" src="http://www.braian.com.br/wp-content/uploads/2011/03/massagem.jpg">
                                </a>
                                </div>
                            </td>
                            </tr>
                            <tr class="tr_info" style="display: none;">
                                 <td class="td_info" colspan="2">0 plurkers shared this</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <td class="dots">
                 <div class="inner">...</div>
            </td>
            <td class="td_response_count">
                <span class="response_count">2</span>
            </td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>

    <div class="move block_cnt hh_mm" style="left: -22px; ">
        <div class="div_one_line"></div>
        <div>
            <div class="div_inner"></div>
            <div class="div_bottom"></div>
        </div>

        <div id="p776440814" class="plurk" style="visibility: visible; left: 65.2883px; top: 80px;">
        <table>
            <tbody>
            <tr>
            <td class="td_img">
                <div class="p_img">
                <img src="http://avatars.plurk.com/5195312-small4.gif">
                </div>
            </td>
            <td>
            <div id="plurk_cnt_776440814" class="plurk_cnt">
                <table>
                    <tbody>
                    <tr>
                         <td class="td_qual">
                         <span>
                         <a class="name" href="/rafaelzrt">rafael</a>
                         <span class="text-mark">compartilha</span>
                         </span>
                    </td>
                    <td class="td_cnt">
                        <div class="text_holder truncated_media_height">
                        <a class="ex_link pictureservices" rel="nofollow" href="http://www.braian.com.br/wp-content/uploads/2011/04/entusiasmo.png">
                        <img class="big_image" onload="" style="max-height: 40px; max-width: 48px;" src="http://www.braian.com.br/wp-content/uploads/2011/04/entusiasmo.png">
                        </a>
                        </div>
                    </td>
                    </tr>
                    <tr class="tr_info" style="display: none;">
                         <td class="td_info" colspan="2">0 plurkers shared this</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </td>
            <td class="dots">
                 <div class="inner">...</div>
            </td>
            <td class="td_response_count">
                <span class="response_count">1</span>
            </td>
            </tr>
            </tbody>
        </table>
        </div>

    </div>

    <div class="move block_cnt hh_mm" style="left: 198px; ">
        <div class="div_one_line"></div>
        <div>
            <div class="div_inner"></div>
            <div class="div_bottom"></div>
        </div>
        <div id="p776369547" class="plurk" style="visibility: visible; left: 171.848px; top: 3px;">
            <table>
                <tbody>
                    <tr>
                        <td class="td_img">
                        <div class="p_img">
                        <img src="http://avatars.plurk.com/5195312-small4.gif">
                        </div>
                        </td>
                        <td>
                            <div id="plurk_cnt_776369547" class="plurk_cnt">
                                <table>
                                <tbody>
                                    <tr>
                                    <td class="td_qual">
                                        <span>
                                            <a class="name" href="/rafaelzrt">rafael</a>
                                            <span class="text-mark">compartilha</span>
                                        </span>
                                    </td>
                                    <td class="td_cnt">
                                        <div class="text_holder truncated_media_height">
                                            <a class="ex_link pictureservices" href="http://www.braian.com.br/wp-content/uploads/2011/06/batman-no-mercado.jpg">
                                             <img class="big_image" onload="" style="max-height: 40px; max-width: 48px;" src="http://www.braian.com.br/wp-content/uploads/2011/06/batman-no-mercado.jpg">
                                            </a>
                                            <img class="emoticon" height="18" alt="(LOL)" src="http://statics.plurk.com/615f18f7ea8abc608c4c20eaa667883b.gif">
                                        </div>
                                    </td>
                                    </tr>
                                    <tr class="tr_info" style="display: none;">
                                        <td class="td_info" colspan="2">0 plurkers shared this</td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                        </td>
                        <td class="dots">
                            <div class="inner">...</div>
                        </td>
                        <td class="td_response_count">
                            <span class="response_count">2</span>
                        </td>
                    </tr>
                </tbody>
              </table>
        </div>

        <div id="p776368966" class="plurk" style="visibility: visible; left: 174.537px; top: 80px;">
                    <table>
                    <tbody>
                    <tr>
                    <td class="td_img">
                    <div class="p_img">
                    <img src="http://avatars.plurk.com/5195312-small4.gif">
                    </div>
                    </td>
                    <td>
                    <div id="plurk_cnt_776368966" class="plurk_cnt">
                    <table>
                    <tbody>
                    <tr>
                    <td class="td_qual">
                    <span>
                    <a class="name" href="/rafaelzrt">rafael</a>
                    <span class="text-mark">compartilha</span>
                    </span>
                    </td>
                    <td class="td_cnt">
                    <div class="text_holder">
                    <a class="ex_link youtube video" rel="nofollow" href="http://www.youtube.com/watch?v=dC-kHODhTBk">
                    <img height="40" width="54" alt="Portal (Ninja of the Night Chell) - Fanime 2011 Masquerade" src="http://i1.ytimg.com/vi/dC-kHODhTBk/hqdefault.jpg">
                    </a>
                    firmeza
                    <img class="emoticon" height="18" alt="(LOL)" src="http://statics.plurk.com/615f18f7ea8abc608c4c20eaa667883b.gif">
                    </div>
                    </td>
                    </tr>
                    <tr class="tr_info" style="display: none;">
                    <td class="td_info" colspan="2">0 plurkers shared this</td>
                    </tr>
                    </tbody>
                    </table>
                    </div>
                    </td>
                    <td class="td_response_count">
                    <span class="response_count" style="display: none;"></span>
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="move block_cnt day_start" style="left: 418px; ">
    <div class="div_one_line"></div>
    <div>
    <div class="div_inner"></div>
    <div class="div_bottom"></div>
    </div>
    </div>

    <div class="move block_cnt hh_mm small_hh" style="left: 464px; ">
    <div class="div_one_line"></div>
    <div>
    <div class="div_inner"></div>
    <div class="div_bottom"></div>
    </div>
    <div id="p772581330" class="plurk" style="visibility: visible; left: 196.871px; top: 3px;">
    <table>
    <tbody>
    <tr>
    <td class="td_img">
    <div class="p_img">
    <img src="http://avatars.plurk.com/5195312-small4.gif">
    </div>
    </td>
    <td>
    <div id="plurk_cnt_772581330" class="plurk_cnt">
    <table>
    <tbody>
    <tr>
    <td class="td_qual">
    <span>
    <a class="name" href="/rafaelzrt">rafael</a>
    <span class="text-mark">compartilha</span>
    </span>
    </td>
    <td class="td_cnt">
    <div class="text_holder">
    <a class="ex_link pictureservices" rel="nofollow" href="http://25.media.tumblr.com/tumblr_lmx1fkH7R01qg4blro1_500.gif">
    <img class="big_image" onload="" style="max-height: 40px; max-width: 48px;" src="http://25.media.tumblr.com/tumblr_lmx1fkH7R01qg4blro1_500.gif">
    </a>
    </div>
    </td>
    </tr>
    <tr class="tr_info" style="display: none;">
    <td class="td_info" colspan="2">0 plurkers shared this</td>
    </tr>
    </tbody>
    </table>
    </div>
    </td>
    <td class="td_response_count">
    <span class="response_count" style="display: none;"></span>
    </td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>

    <div class="move block_cnt hh_mm small_hh" style="left: 639px; ">
    <div class="div_one_line"></div>
    <div>
    <div class="div_inner"></div>
    <div class="div_bottom"></div>
    </div>
    <div id="p772502275" class="plurk" style="visibility: visible; left: 65.0445px; top: 80px;">
    <table>
    <tbody>
    <tr>
    <td class="td_img">
    <div class="p_img">
    <img src="http://avatars.plurk.com/5195312-small4.gif">
    </div>
    </td>
    <td>
    <div id="plurk_cnt_772502275" class="plurk_cnt">
    <table>
    <tbody>
    <tr>
    <td class="td_qual">
    <span>
    <a class="name" href="/rafaelzrt">rafael</a>
    <span class="text-mark">compartilha</span>
    </span>
    </td>
    <td class="td_cnt">
    <div class="text_holder truncated">
    <a class="ex_link" rel="nofollow" href="http://noticias.br.msn.com/fotos/galeria-de-fotos.aspx?cp-documentid=29181703">Menina de 11 anos levanta US$ 200 mil para Golfo do M?xico vendendo desenhos</a>
    - ok,preciso voltar a desenhar
    </div>
    </td>
    </tr>
    <tr class="tr_info" style="display: none;">
    <td class="td_info" colspan="2">0 plurkers shared this</td>
    </tr>
    </tbody>
    </table>
    </div>
    </td>
    <td class="dots">
    <div class="inner">...</div>
    </td>
    <td class="td_response_count">
    <span class="response_count" style="display: none;"></span>
    </td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>

    <div class="move block_cnt day_start" style="left: 814px; ">
    <div class="div_one_line"></div>
    <div>
    <div class="div_inner"></div>
    <div class="div_bottom"></div>
    </div>
    </div>

    <div class="move block_cnt hh_mm small_hh" style="left: 860px; ">
    <div class="div_one_line"></div>
    <div>
    <div class="div_inner"></div>
    <div class="div_bottom"></div>
    </div>
    <div id="p769573299" class="plurk" style="visibility: visible; left: 41.8084px; top: 3px;">
    <table>
    <tbody>
    <tr>
    <td class="td_img">
    <div class="p_img">
    <img src="http://avatars.plurk.com/5195312-small4.gif">
    </div>
    </td>
    <td>
    <div id="plurk_cnt_769573299" class="plurk_cnt">
    <table>
    <tbody>
    <tr>
    <td class="td_qual">
    <span>
    <a class="name" href="/rafaelzrt">rafael</a>
    <span class="text-mark">compartilha</span>
    </span>
    </td>
    <td class="td_cnt">
    <div class="text_holder truncated">
    <a class="ex_link" rel="nofollow" href="http://www.techtudo.com.br/noticias/noticia/2011/06/indiano-e-eletrocutado-ao-usar-telefone-pirata.html">Indiano ? eletrocutado e morre ao usar telefone pirata</a>
    </div>
    </td>
    </tr>
    <tr class="tr_info" style="display: none;">
    <td class="td_info" colspan="2">0 plurkers shared this</td>
    </tr>
    </tbody>
    </table>
    </div>
    </td>
    <td class="dots">
    <div class="inner">...</div>
    </td>
    <td class="td_response_count">
    <span class="response_count">4</span>
    </td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>

    <div class="move block_cnt hh_mm small_hh" style="left: 1035px; ">
    <div class="div_one_line"></div>
    <div>
    <div class="div_inner"></div>
    <div class="div_bottom"></div>
    </div>
    <div id="p769364885" class="plurk" style="visibility: visible; left: 83.8084px; top: 80px;">
    <table>
    <tbody>
    <tr>
    <td class="td_img">
    <div class="p_img">
    <img src="http://avatars.plurk.com/5195312-small4.gif">
    </div>
    </td>
    <td>
    <div id="plurk_cnt_769364885" class="plurk_cnt">
    <table>
    <tbody>
    <tr>
    <td class="td_qual">
    <span>
    <a class="name" href="/rafaelzrt">rafael</a>
    <span class="qualifier q_needs">precisa</span>
    </span>
    </td>
    <td class="td_cnt">
    <div class="text_holder truncated">
    de novos sites de vetor stock gr?tis (gr?tis de verdade). O
    <a class="ex_link" rel="nofollow" href="http://www.vecteezy.com">Vecteezy</a>
    n?o ? mais como antigamente..
    </div>
    </td>
    </tr>
    <tr class="tr_info" style="display: none;">
    <td class="td_info" colspan="2">0 plurkers shared this</td>
    </tr>
    </tbody>
    </table>
    </div>
    </td>
    <td class="dots">
    <div class="inner">...</div>
    </td>
    <td class="td_response_count">
    <span class="response_count">3</span>
    </td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>

        
         </div>

    <div id="timeline_bg">
    <div class="move block_bg day_start" style="left: -312px; ">
    <div class="div_one_line" style="width: 70px;"></div>
    <div class="day_bg" style="width: 70px;">
    <div class="div_inner"></div>
    <div class="div_bottom">
    <span class="bottom_start">Ontem</span>
    </div>
    </div>
    </div>
    <div class="move block_bg hh_mm" style="left: -242px; ">
    <div class="div_one_line"></div>
    <div>
    <div class="div_inner"></div>
    <div class="div_bottom">
    <span class="bottom_start">4:59pm</span>
    </div>
    </div>
    </div>
    <div class="move block_bg hh_mm" style="left: -22px; ">
    <div class="div_one_line"></div>
    <div>
    <div class="div_inner"></div>
    <div class="div_bottom">
    <span class="bottom_end">4:39pm</span>
    <span class="bottom_start">4:49pm</span>
    </div>
    </div>
    </div>
    <div class="move block_bg hh_mm" style="left: 198px; ">
    <div class="div_one_line"></div>
    <div>
    <div class="div_inner"></div>
    <div class="div_bottom">
    <span class="bottom_end">2pm</span>
    <span class="bottom_start">3pm</span>
    </div>
    </div>
    </div>
    <div class="move block_bg day_start" style="left: 418px; ">
    <div class="div_one_line" style="width: 46px;"></div>
    <div class="day_bg" style="width: 46px;">
    <div class="div_inner"></div>
    <div class="div_bottom">
    <span class="bottom_start">Jun 20</span>
    </div>
    </div>
    </div>
    <div class="move block_bg hh_mm small_hh" style="left: 464px; ">
    <div class="div_one_line"></div>
    <div>
    <div class="div_inner"></div>
    <div class="div_bottom">
    <span class="bottom_end">11pm</span>
    <span class="bottom_start">12pm</span>
    </div>
    </div>
    </div>
    <div class="move block_bg hh_mm small_hh" style="left: 639px; ">
    <div class="div_one_line"></div>
    <div>
    <div class="div_inner"></div>
    <div class="div_bottom">
    <span class="bottom_end">8pm</span>
    <span class="bottom_start">9pm</span>
    </div>
    </div>
    </div>
    <div class="move block_bg day_start" style="left: 814px; ">
    <div class="div_one_line" style="width: 46px;"></div>
    <div class="day_bg" style="width: 46px;">
    <div class="div_inner"></div>
    <div class="div_bottom">
    <span class="bottom_start">Jun 17</span>
    </div>
    </div>
    </div>
    <div class="move block_bg hh_mm small_hh" style="left: 860px; ">
    <div class="div_one_line"></div>
    <div>
    <div class="div_inner"></div>
    <div class="div_bottom">
    <span class="bottom_end">2pm</span>
    <span class="bottom_start">3pm</span>
    </div>
    </div>
    </div>
    <div class="move block_bg hh_mm small_hh" style="left: 1035px; ">
    <div class="div_one_line"></div>
    <div>
    <div class="div_inner"></div>
    <div class="div_bottom">
    <span class="bottom_end">11am</span>
    <span class="bottom_start">12pm</span>
    </div>
    </div>
    </div>
    </div>
    <div id="bottom_line" style="top: 195px;"></div>

    </div>
								
</div>