@model Beepoy.Web.Library.TimeLine

 <script type="text/javascript" charset="utf-8">
     $(document).ready(function () {
         var clientX = 0;
         $('#timeline_holder')
				.bind('dragstart', function (event) {
				    clientX = event.clientX;
				})
				.bind('drag', function (event) {
				    var left = event.clientX - clientX;
				    clientX = event.clientX;
				    $("#timeline_holder .move").each(function () {
				        $(this).css({
				            left: $(this).position().left + left
				        });
				    });
				});

				$("#timeline_cnt .plurk").hover(

       
                  function () {
                      $(this).addClass("display");
                      $(this).addClass("link_extend");
                  },
                  function () {
                      $(this).removeClass("display");
                      $(this).removeClass("link_extend");
                  }
                );
     });
</script>

<div class="timeline-wrap">
					
 <div id="timeline_holder">
  <div id="timeline_cnt">

   @{
          int i = 0;
          
          foreach ( Beepoy.Web.Library.Markline markline in this.Model.MarkLines)
          {
              markline.Position.Left = (int) 400*i;                        
              i++;   
              Html.RenderPartial("_MarkLine", markline );
          }
    }



  <!--  <div class="move block_cnt hh_mm" style="left: 50px; ">
        <div class="div_one_line"></div>
        <div>
            <div class="div_inner"></div>
            <div class="div_bottom"></div>
        </div>

    </div>

    !-->

 
  </div>

    <div id="timeline_bg">

    <div class="move block_bg day_start" style="left: 0px; ">
        <div class="div_one_line" style="width: 46px;"></div>
            <div class="day_bg" style="width: 46px;">
            <div class="div_inner"></div>
            <div class="div_bottom">

                <span class="bottom_start">Jun 20</span>
            
            </div>
        </div>
    </div>
  
    <div class="move block_bg day_start" style="left: 400px; ">
        <div class="div_one_line" style="width: 46px;"></div>
            <div class="day_bg" style="width: 46px;">
            <div class="div_inner"></div>
            <div class="div_bottom">

                <span class="bottom_start">Jun 20</span>
            
            </div>
        </div>
    </div>

      <div class="move block_bg day_start" style="left: 800px; ">
        <div class="div_one_line" style="width: 46px;"></div>
            <div class="day_bg" style="width: 46px;">
            <div class="div_inner"></div>
            <div class="div_bottom">

                <span class="bottom_start">Jun 20</span>
            
            </div>
        </div>
    </div>

    <div class="move block_bg day_start" style="left: 1200px; ">
        <div class="div_one_line" style="width: 46px;"></div>
            <div class="day_bg" style="width: 46px;">
            <div class="div_inner"></div>
            <div class="div_bottom">

                <span class="bottom_start">Jun 20</span>
            
            </div>
        </div>
    </div>

    <div class="move block_bg day_start" style="left: 1600px; ">
        <div class="div_one_line" style="width: 46px;"></div>
            <div class="day_bg" style="width: 46px;">
            <div class="div_inner"></div>
            <div class="div_bottom">

                <span class="bottom_start">Jun 20</span>
            
            </div>
        </div>
    </div>

    </div>
    <div id="bottom_line" style="top: 185px;"></div>
  </div>
</div>